/* top menu */

* {
	font-family: 'helvetica', sans-serif;
	
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Josefin Slab', serif;
}

h2.section-head{
	color: #000;
	padding: 0.25rem 0;
	margin-top: 2rem;
	font-size: 1.25rem;
	font-weight: bold;
	border-bottom: 1px solid #ccc;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #999;
  /*color: #231f20;*/
/*  background-color: rgba(0, 0, 0, 0.0470588);
   background-color: #1a1a1a; */
/*   background-color: #262626; */
}

a {
	/*text-decoration: underline;*/
	color: #666;
}

a:hover {
	/*text-decoration: underline;*/
	color: #000;
}

ul {
	margin: 0;
}


/* mobile nav -------------------------------- */
header{
	text-align: left;
	width: 100%;
	margin: 1rem 0;
	/*border-bottom: 1px solid #ccc;*/
}

footer{
	text-align: left;
	width: 100%;
	min-height: 5rem;
	padding: 3rem 0;
	margin: 4rem 0 0;
}

.disclaimer p{
	text-align: center;
	font-size: 0.8rem;
	
}

nav {
}

#nav-list{
	display: none;
}


nav ul li{
	display: block;
	margin-right: 1rem;
}

nav ul li *{
	font-size: 1.5rem;
}


.site-title{
	display: inline-block;
	font-size: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
	padding: 0;
	color: #999;
}


.site-title a{
	color: #999;
}

.site-logo{
	height: 5rem;
}

.subtitle{
	color: #999;
	font-size: 0.8rem;
}

.login-form{
	display: none;
	background-color: #333;
}

.login-form * {
	color: #fff;
}


.button{
	background-color: #000000;
}

.breadcrumb{
	margin: 0  0 1rem 0;
}

.crumbs{
	border: none;
}

.crumbs li{
	display: inline-block;
}


/* computer nav -------------------------------- */
@media print, screen and (min-width: 40em) {
	
	header{
		text-align: left;
		width: 100%;
		height: 4rem;
		padding: 1rem 0;
		margin: 0 0 3rem 0;
		/*border-bottom: 1px solid #ccc;*/
	}
	
	nav {
		text-align: right;
	}
	
	#nav-mobile-menu {
		display: none;
	}
	
	#nav-list{
		display: inline-block !important;
	}
	
	nav ul li{
		display: inline-block;
		margin-left: 1rem;
	}
	
	nav ul li *{
		font-size: 1.2rem !important;
	}

	.site-title{
		display: inline-block;
		font-size: 1.5rem;
		line-height: 1.5rem;
		margin: 0;
		padding: 0;
		color: #999;
	}
	
	
	.site-title a{
		color: #999;
	}
	
	.subtitle{
		color: #999;
		font-size: 0.8rem;
	}
	
	
	.button{
		background-color: #000000;
	}
	
	.breadcrumb{
		margin: 0  0 1rem 0;
	}
	
	.crumbs{
		border: none;
	}
	
	.crumbs li{
		display: inline-block;
	}
} /* end computer nav ------------------------------------ */


.flag{
	border: 1px solid #ccc;
}

.input-help{
	display: none;
}

.help-icon{
	cursor: pointer;
}

.locked{
	display: inline-block;
	line-height: 38px;
	font-size: 0.8rem;
	font-style: italic;
}

.gray{
	color: #ccc;
}

/*------------------------- stamp zoom box ----------------------------*/

.stamp-zoom-box{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10000;
}

.stamp-zoom{
	position: relative;
	padding: 2%;
/* 	background-size: 90% auto; */	
}

/*------------------------- stamp box ----------------------------*/
.thumb-box{
	display: inline-block;
}

.stamp-thumb-box{
	border: 1px solid #ccc;
	width: 100%;
	background-color: #000;
	position: relative;	
}

.stamp-thumb-box-zoom{
	cursor: zoom-in;
}

.stamp-thumb-box:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}	

.stamp-zoom,
.stamp-thumbnail{
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-clip: content-box;
	background-origin: content-box;
	background-size: contain;
	background-position: center center;
}

.stamp-thumbnail{
	position: absolute;
	padding: 0.5rem;
/* 	background-size: 90% auto !important; */
}


.stamp-title{
	
}






