# test/public/.htaccess

    RewriteEngine On
    RewriteBase /app/public
    
		
	RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !\.(js|ico|jpe?g|gif|png|css)
	RewriteRule ^.*$ /index.php [PT,L,QSA]